$primary-color: #007430;
$background-color: #f0f0f0;
$background-color2: #f8f8f8;
$color: #f0f0f0;
$shadow: 1px 1px 4px #9b9b9b;
$border: 1px #9b9b9b solid;
$radius: 3px;

@mixin borders($bordercolor){
    border: 1px solid $bordercolor;
}

@mixin colors($color){
    color: $color;
}

.container {
    box-sizing: border-box;
    background-color: $background-color;
    height: 100vh;

    nav{
        padding-left: 75px !important;
        box-shadow: none;

        img {
            max-width: 100%;
        }
    }

    .customer-info {
        height: 73vh;
        margin-top: 102px;
        width: min(500px, 80%);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: $background-color;



        .title-head{
            color: $color;
            padding: 20px;
            font-size: 3vh;
            font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
            border-bottom: $primary-color 1px solid;
            text-align: center;
            background-color: $primary-color;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        form {
            box-shadow: 1px 1px 4px #c9c9c9;
            background-color: $background-color2;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            gap: 35px;
            height: 380px;

            input{
                width: 100%;
                height: 40px;
                border-radius: 3px;
                border: none;
                border: $border;
                padding: 5px;
            }
            .row {
                width: 80%;
                margin-inline: auto;

            }

            .btn-submit {
                border: none;
                background-color: $primary-color;
                color: $color;
                box-shadow: $shadow;
                width: 80%;
                margin-inline: auto;

            }


            .for {
                padding: 5px;
            
            }
        }
        
    

    }

    //=========== VIEW ITEM ================================

    .header {
        padding: 5px 20px;
        .title {

            padding: 10px;
            // font-size: 2vw;
            font-size: 1.5rem;
            color: $primary-color;
            border-bottom: 1px $primary-color solid;
        }

    }

    .content {
        background-color: $background-color;
        padding: 20px;
        height: inherit;

        .item-buy-container {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
              
            .item-buy {
                width: min(40%, 200px);

                .product-img {
                    max-width: 100%;
                    border-radius: $radius;
                    border: $border;
                }
            }
        }
    }

    // =====================================================

    //========= PAYMENT SUCCESSFUL =================
    .payment-success{
        background-color: #0074301d;
        @include borders($primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
        width: 30%;
        // box-shadow: $shadow;
        height: 400px;
        border-radius: $radius;



        .payment-successful {
            font-size: 2.5vw;
            @include colors(#007430);
            padding: 20px;
            text-align: center;
        }

        div, span {
            color: #2d2d2d
        }
    }
    .payment-failed {
        @extend .payment-success;
        @include borders(#a80202);
        background-color: #a802024d;

        .payment-fail {
            @extend .payment-successful;
            @include colors(#a80202);

        }
    }


    //==============================================
    
}



   div.copyright {
        color: $primary-color;
        text-align: center;
    }
