@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 4px #6d6d6d;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.stock-links > a:nth-child(1) {
  color: var(--primary-color);
}


.btn-success {
  width: 100%;
  height: 40px;
}
.btn-primary {
  /* margin-top: 10px; */
  margin-inline: auto;
}
.admin-box .sales {
    background-color: #01a144;
    border-radius: 5px;
}
  