.btn-primary {
  width: 60px ;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
  padding: 2px 0px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #0965dd;
  text-align: center;
  box-shadow: 1px 1px 4px #999999 !important;


}

.btn-danger {
  width: 60px ;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 2px 0px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #820000;
  text-align: center;
  box-shadow: 1px 1px 4px #999999 !important;


}

.btn-success {
  width: 60px;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 2px 0px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #007430 !important;
  text-align: center;
  box-shadow: 1px 1px 4px #999999 !important;


}