.btn-primary {
  width: 60px !important;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
  padding: 5px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #0965dd;
  text-align: center;
  /* box-shadow: 1px 1px 4px #c3c3c3; */

}

.btn-danger {
  width: 60px !important;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 5px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #b40000;
  text-align: center;
  /* box-shadow: 1px 1px 4px #c3c3c3; */

}
.btn-success {
  width: 60px !important;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 5px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #007430 !important;
  text-align: center;
  /* box-shadow: 1px 1px 4px #c3c3c3; */

}
