
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  width: 4px;
}
*::-webkit-scrollbar-thumb{
  background-color: #313131;
}

body {
  min-height: 100vh;
  
}
