
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  width: 7px;
}
*::-webkit-scrollbar-thumb{
  background-color: #5a5a5a;
}

body {
  min-height: 100vh;
}
