@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 6px #6d6d6d;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.manage-account-content {
  padding: 30px;
  width: 100%;
  height: 100vh;
}

/* EDIT PROFILE */
.manage-account-content .account-info {
  width: 100%;
  height: 75vh;
  /* box-shadow: 0px 0px 2px #313131; */
}

.account-info form {
  background-color: transparent;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
  padding: 20px 50px;
}
input[type="text"],
[type="number"],
[type="date"],
[type="password"],
select {
  padding: 10px;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: #f0f0f0;
}
.account-info .image {
}

.account-info img {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  width: 120px;
  margin-bottom: 5px;
}
.one,
.two {
  width: 50%;
}
.account-info .right {
  display: flex;
  width: 100%;
}

.account-info form input {
  width: 90%;
  padding-inline: 5px;
}

.btn-success {
  margin-top: 10px;
  /* width: 60px; */
}

.admin-box .edit-profile {
  background-color: #008537;
  border-radius: 5px;
}
div.name {
  margin-bottom: 10px;
}
