@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 4px #6d6d6d;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.stock-links > a:nth-child(1) {
  color: var(--primary-color);
}

.inventory-content .modal form {
  color: var(--text-color);
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
  border-radius: 5px;
  padding: 20px 90px;
  font-size: 1vw !important;
}

input[type="text"],
[type="number"],
[type="date"] {
  color: var(--text-color);
  padding-left: 7px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 2px;
  /* box-shadow: 0px 0px 2px #313131; */
  border: 1px solid #c2c2c2;
}

.btn-success {
  width: 100%;
  height: 40px;
}
.btn-primary {
  /* margin-top: 10px; */
  margin-inline: auto;
}
.admin-box .stock {
  background-color: #01a144;
  border-radius: 5px;
}

.add-product-content {
  padding: 30px;
  width: 40%;
  font-size: small;
  position: absolute;
  z-index: 9999;
  right: 400px;
  display: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  border-top: #007430 2px solid;
  box-shadow: 1px 1px 4px #c3c3c3 !important

}

.add-product-content .form {
}

.add-product-content .form .upload-product .image {
  width: 120px;
  height: 120px;
  border-radius: 2px;
  margin-bottom: 5px;
  border: 1px solid #c2c2c2;
}
.add-product-content .form .upload-product .image img {
  border: 1px solid #c2c2c2;
}
.file-upload {
  border: 1px solid #c3c3c3;
  padding: 3px;
  border-radius: 5px;
  width: 24%;
}
.add-product-content .form .upload-product {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: auto;
}

.inputGroups {
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.one,
.two,
.three {
  width: 50%;
  padding-right: 10px;
}
input[type="text"],
[type="number"],
[type="date"],
select {
  padding: 10px;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
}
.btn-success {
  margin-top: 20px;
  width: 99% !important;
  height: 40px !important;
  border-radius: 4px;
  border: none;
}
.btn-add-stock {
  width: 90px !important;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
  padding: 2px 0px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #0965dd;
  text-align: center;
  box-shadow: 1px 1px 4px #999999 !important;
}
.btn-damage {
  width: 95px !important;
  outline: none;
  border: none;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
  padding: 2px 0px !important;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  background: #8e8700;
  text-align: center;
  box-shadow: 1px 1px 4px #999999 !important;

}
.cancel {
  padding-top: 10px !important;
  background-color: #820000 !important;
}
.image {
  width: 30%;
}
