@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 4px #6d6d6d;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.stock-links > a:nth-child(1) {
  color: var(--primary-color);
}

.inventory-content .modal form {
  color: var(--text-color);
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
  border-radius: 5px;
  padding: 20px 90px;
  font-size: 1vw !important;
}

input[type="text"],
[type="number"],
[type="date"] {
  color: var(--text-color);
  padding-left: 7px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 2px;

  /* box-shadow: 0px 0px 2px #313131; */

  border: 1px solid #c2c2c2;

  margin-bottom: 10px;
}
.btn-success {
  width: 100%;
  height: 40px;
}
.btn-primary {
  /* margin-top: 10px; */
  margin-inline: auto;
}
.admin-box .stock {
  background-color: #008537;
  border-radius: 5px;
}
