@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 6px #6d6d6d;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.admin-box .manage-account {
  background-color: #01a144;
  border-radius: 5px;
}

.manage-account-content {
  padding: 20px 30px;
  width: 100%;
  height: 100vh;
}

/* UPDATE */
.manage-account-content .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 15px;
  width: 100%;
  height: 100vh;
  border: 1px solid #c2c2c2;
  margin-bottom: 20px;
  background: #5e5d5d49;
}

.manage-account-content .modal form {
  display: none;
  color: var(--text-color);
  padding: 15px;
  border-radius: 5px;
  width: 25%;
  height: 530px;
  box-shadow: 0.3px 0.3px 4px #505050;
  margin-bottom: 20px;
  background: #f8f8f8;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

input[type="text"],
[type="number"],
[type="date"],
[type="password"] {
  color: var(--text-color);
  padding-left: 7px;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #313131;
}

.btn-success {
  margin-top: 10px;
  margin-left: 75px;
  border-radius: 5px;
}

.notif {
  position: relative;
  cursor: pointer;
}

.notif>.notifCount {
  position: absolute;
  width: 17px;
  height: 17px;
  text-align: center;
  top: -5px;
  right: -4px;
  background-color: #cc0101;
  border-radius: 50px;
  color: #fff;
  font-size: smaller !important;
}

.notif>.notifContent {
  position: absolute;
  z-index: 999;
  top: 20;
  right: 0;
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  /* border: 1px solid #d4d4d4; */
  box-shadow: 0 0 3px #555555;
  border-radius: 5px;
  display: none;
  overflow: hidden;
}

.notif>.notifContent>.notifTittle {
  background-color: #00ad48;
  padding: 5px;
  color: #fff;
}

.head-title {
  padding: 5px;
  /* border-bottom: 1px solid #ddd;
  margin-bottom: 20px; */
}

/* ADD EMPLOYEE */
.header-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  gap: 10px;
}

a.btn-success {
  margin: 0 !important;
  width: 120px !important;
  padding: 7px !important;
  margin-top: 20px !important;
}

.header-content>a {
  text-decoration: none;
  color: #fff !important;
  text-align: center;
  padding: 7px;
}


.titleHead {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 20px;
  font-size: 2.4vh;
}

form.add-employee-form .form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form.add-employee-form .form-group {
  width: 50%;
}

form.add-employee-form {
  width: 90%;
  margin-inline: auto !important;
  padding-top: 20px;
}

form.add-employee-form input[type='email'],
form.add-employee-form input[type='text'],
form.add-employee-form input[type='password'],
form.add-employee-form input[type='number'] {
  width: 100% !important;
  height: 40px;
  outline: 1px solid rgba(128, 128, 128, 0.418);
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;

}

div.table-container {
  overflow: hidden !important;
}

.submit {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-align: center;
  box-shadow: 0.6px 0.6px 4px var(--bg-shadow);
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-inline: auto;
  margin-top: 10px;
}