:root {
  --primary-color: #007430;
  --bg-shadow: 1px 1px 4px #a02727;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden;
  height: auto;
  background-color: #f0f0f0;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

a {
  color: black;
  text-decoration: none;
}

.medicine-container {
  width: 100% !important;
  height: 100vh !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.medicine-container::-webkit-scrollbar {
  width: 4px;
}

.medicine-container::-webkit-scrollbar-thumb {
  background-color: #007430;
}

.mp-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 270px;
  margin: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 1px 1px 4px #9c9c9c;
  border-radius: 5px;
  gap: 5px;
  overflow: hidden;
  transition: .5s all ease;
  padding: 8px;

}

.mp-card:hover {
  border-top: 1px solid #007430;
  transform: translateY(-5px);
}

.mp-list {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height:inherit ;
}

.mp-list .img-list {
  padding: 2px;
  width: 100%;
  height: 150px !important;
  background-color: #fff;
}

.mp-list .details {
  width: 100%;
  height: 70px;
  color: #313131;
  text-align: center;
}

form {
  /* border-bottom: 1px solid #c3c3c3; */
  margin-inline: auto;
  margin-top: 20px;
  width: 68%;
  margin-bottom: 5px;
  text-align: end;
}

#search {
  width: min(344px, 85%);
  outline: none;
  padding: 6px;
  margin-inline: auto;
  outline: none;
  border: none;
  /* border-bottom: 1px solid #707070; */
  height: 35px;
  border-radius: 3px;
  /* box-shadow: 1px 1px 4px #7e7e7e; */
  background-color: #e7e7e7;
  border: 1px solid rgb(194, 194, 194);

}

#submit {
  font-size: min(2.5vw, 1rem);
  outline: none;
  border: none;
  padding: min(100px, 6px);
  height: 35px;
  background-color: var(--primary-color);
  border-radius: 3px;
  color: #fff;
  box-shadow: 1px 1px 4px #b9b9b9;
  margin-left: -18px;

}

.cart-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buy-btn {
  background-color: #007430;
  color: #f8f8f8;
  width: 100%;
  margin: auto;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 4px #a7a7a7;

}

.buy-btn:hover {
  background-color: #00ad48;
}

.favorite-btn {
  /* background-color: #007430; */
  color: #313131;
  width: 20%;
  text-align: center;
}

div.checkout {
  position: absolute;
  top: 0;
  right: 0;
  width: 26%;
  background-color: #f0f0f0;
  height: 100vh;
  display: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
  box-shadow: -1px -1px 6px #b3b3b3 !important;
  overflow-x: scroll;
  overflow-y: none;
}


div.checkout::-webkit-scrollbar {
  width: 5px;
  border: #9c9c9c 1px solid;
}

div.checkout::-webkit-scrollbar-thumb {
  background-color: #00642a;
  border-radius: 30px;

}

div.checkout>div.checkout-buttons {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 5px;
}

div.transparent-bg {
  width: 100%;
  margin-inline: auto;
  margin-top: 10px;
  background-color: #f0f0f0;
  border: 1px solid #c9c9c9;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1vh !important;
}

div.add-to-cart {
  width: 80%;
  margin: auto;

}

div.transparent-bg>.name-and-image {
  text-align: center;
  width: 80px;
}

div.transparent-bg>.name-and-image>img {
  width: 60px;
  border-radius: 5px;
  height: 60px;
  border: 1px solid #c9c9c9;

}

a.btn-success,
div#btn-close {
  width: 50% !important;
  margin-bottom: 10px;
  margin-top: 10px;
  flex: 1;
}

a.btn-success {
  width: 100% !important;
  background-color: #007430 !important;
}

ul li.lastchild {
  background-color: #007430 !important;
  color: #fff !important;
  padding: 5px !important;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #a7a7a7;

}

.checkout-number {
  color: #fff !important;
}

div.input-quanty {
  display: flex;
  cursor: pointer;
  width: 50px;

}

div.add,
div.minus {
  border-radius: 2px;

  background-color: #007430;
  color: #fff;
  width: 100px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #c9c9c9;

}


div.quantity {
  background-color: #f0f0f0;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  width: 90px;
  text-align: center;
}

div.copyright {
  text-align: center;
  color: #f0f0f0;
  background-color: #007430;
  padding: 15px;
}