:root {
  --primary-color: #007430;
  --bg-shadow: 1px 1px 4px #a02727;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden !important;
  background-color: #f0f0f0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

a {
  color: black;
  text-decoration: none;
}

.medicine-container {
  width: 100% !important;
  height: 100vh !important;
  overflow: scroll !important;
  scroll-behavior: smooth;
}

.medicine-container::-webkit-scrollbar {
  width: 7px;
}

.medicine-container::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}

.mp-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 280px;
  margin: 15px 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  box-shadow: 1px 1px 4px #b3b3b3;
  border-radius: 5px;
  padding: 6px;
  gap: 5px;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace !important;
  transition: .5s all;
  border-top: #007430 2px solid;
  /* border-bottom: #007430 2px solid; */

}
.mp-card:hover{

transform: scale(1.1, 1.1);
}

.mp-list {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mp-list .img-list {
  width: 100%;
  height: 140px !important;
}

.mp-list .details {
  width: 100%;
  height: 90px;
  color: #313131;
}

.mp-list .product-name {
  font-weight: 900 !important;
  font-size: 1.9vh !important;
}

form {
  border-bottom: 1px solid #c3c3c3;
  text-align: end;
  margin-inline: auto;
  padding-block: 15px;
  width: 90%;
}

#search {
  position: relative;
  right: -80px;
  outline: none;
  width: 380px;
  padding: 7px;
  margin-inline: auto;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

#submit {
  position: relative;
  right: -10px;
  font-size: 1.8vh;
  width: 70px;
  outline: none;
  border: none;
  padding: 7px;
  background-color: var(--primary-color);
  /* border-radius: 3px; */
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

.cart-btn{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
}

.buy-btn {
  background-color: #007430;
  color: #f8f8f8;
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
}

.favorite-btn {
  /* background-color: #007430; */
  color: #313131;
  width: 20%;
  text-align: center;
}

div.checkout {
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: #f0f0f02a;
  height: 100vh;
  display: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
}

div.transparent-bg {
  border-top: 2px solid #007430;
  width: 200px;
  margin-inline: auto;
  margin-top: 150px;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 6px #b3b3b3 !important;
  height: 370px;
  padding: 15px;
  border-radius: 5px;
}

div.transparent-bg > img{
  width: 100%;
  height: 160px;
  border: 1px solid #313131;
}

a.btn-success, a.btn-danger {
  width: 100% !important;
  margin-bottom: 10px;
}

a.btn-success {
  width: 100% !important;
  background-color: #007430 !important;
}