:root {
  --primary-color: #007430;
  --bg-shadow: 1px 1px 4px #a02727;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden !important;
  background-color: #f0f0f0;
  
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}

a {
  color: black;
  text-decoration: none;
}

.medicine-container {
  width: 100% !important;
  height: 100vh !important;
  overflow: scroll !important;
  scroll-behavior: smooth;
}

.medicine-container::-webkit-scrollbar {
  width: 4px;
}

.medicine-container::-webkit-scrollbar-thumb {
  background-color: #313131;
}

.mp-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 270px;
  margin: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  box-shadow: 1px 1px 4px #b3b3b3;
  border-radius: 5px;
  padding: 6px;
  gap: 5px;
  overflow: hidden;
  transition: .5s all;
  border-top: #007430 2px solid;
  /* border-bottom: #007430 2px solid; */

}
.mp-card:hover{
  border-top: #00ad48 2px solid;
}

.mp-list {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mp-list .img-list {
  width: 10%0;
  height: 130px !important;
}

.mp-list .details {
  width: 100%;
  height: 90px;
  color: #313131;
  text-align: center;
}

form {
  /* border-bottom: 1px solid #c3c3c3; */
  margin-inline: auto;
  padding-top: 15px;
  width: 69%;
}

#search {
  position: relative;
  right: -5px;
  outline: none;
  width:910px;
  padding: 7px;
  margin-inline: auto;
  border-radius: 4px;
  border: none;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  /* box-shadow: 1px 1px 4px #dbdbdb !important; */
}

#submit {
  position: relative;
  left: -0px;
  font-size: 1.8vh;
  width: 70px;
  outline: none;
  border: none;
  padding: 7px;
  background-color: var(--primary-color);
  /* border-radius: 3px; */
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

.cart-btn{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buy-btn {
  background-color: #007430;
  color: #f8f8f8;
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  border: none;
}

.buy-btn:hover {
  background-color: #00ad48;
}

.favorite-btn {
  /* background-color: #007430; */
  color: #313131;
  width: 20%;
  text-align: center;
}

div.checkout {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  background-color: #f0f0f0;
  height: 100vh;
  display: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
  box-shadow: -1px -1px 6px #b3b3b3 !important;
  padding-inline: 30px;
  padding-block: 10px;
  overflow-x: scroll;
}

div.checkout::-webkit-scrollbar{
  width: 4px;;
} 
div.checkout::-webkit-scrollbar-thumb{
  background-color: #00642a;
} 

div.checkout > div.checkout-buttons{
  /* position: absolute;
  bottom: 0; */
  display: flex;
  gap: 5px;
}

div.transparent-bg {
  width: 100%;
  margin-inline: auto;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 6px #cacaca !important;
  height: 100px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.transparent-bg > .name-and-image > img{
  width: 60px;
  border-radius: 5px;
  height: 60px;
  border: 1px solid #313131;
}

a.btn-success, div#btn-close {
  width: 50% !important;
  margin-bottom: 10px;
  margin-top: 10px;
  flex: 1;
}

a.btn-success {
  width: 100% !important;
  background-color: #007430 !important;
}

ul li.lastchild{
  background-color: #007430 !important;
  color: #fff !important;
  padding: 5px !important;
  border-radius: 3px;
}
.checkout-number {
  color: #fff !important;
}
#quanty {
  border: 1px solid gray;
  border-radius: 2px;
  padding-left: 3px;
}