:root {
  --primary-color: #018136;
  --primarys-color: #4ac29025;
  --black-color: #000;
  --white-color: #f0f0f0;
  --bg-shadow: #686868;
}
* {
  font-size: 1.8vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}
.user-profile {
  width: 20px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #313131;
}

nav {
  cursor: pointer;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  box-shadow: 0px 0px 4px var(--bg-shadow);
  width: 100%;
}
nav .brand {
  display: flex;
  text-align: center;
  height: 40px;
  width: 280px;
  align-items: center;
  /* background-color: var(--white-color); */
  border-radius: 40px;
}

nav .brand img {
  width: 50px;
}

nav .brand a {
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--black-color);
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}
nav ul {
  width: 28%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
nav ul li {
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: var(--white-color);
  transition: 0.3s ease;
  position: relative;
}

nav ul li a {
  color: #313131;
  text-decoration: none;
  border-radius: 5px;
  border-radius: 3px;
}

nav ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

nav .fa {
  color: black;
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 722px) {
  nav .fa {
    display: block;
  }

  nav ul .fa {
    margin-bottom: 30px;
  }

  nav .brand img {
    height: 40px;
  }
  nav.brand a {
    font-size: 1.2rem;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    padding: 10px;
    height: 100vh;
    z-index: 99;
    transform: scaleX(0);
    transition: 0.1s ease-in;
    transform-origin: right;
  }

  nav ul.menu {
    transform: scaleX(1);
  }

  nav ul li {
    margin-top: 10px;
  }

  nav ul li a {
    font-size: 1rem;
    font-weight: bold;
  }
}
