:root {
  --primary-color: #018136;
  --primarys-color: #4ac29025;
  --black-color: #000;
  --white-color: #f0f0f0;
  --bg-shadow: #686868;
}
* {
  font-size: 1.7vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-weight: bold !important; */
}
.user-profile {
  width: 20px !important;
  vertical-align: middle !important;
  background-color: #fff !important;
  border-radius: 50px !important;
  border: 1px solid #313131 !important;
  margin-left: 5px !important;
}

nav {
  cursor: pointer;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  box-shadow: 1px 1px 4px #c9c9c9;
  width: 100%;
  padding-right: 20px;
}
nav .brand {
  display: flex;
  text-align: center;
  height: 40px;
  width: 280px;
  align-items: center;
  /* background-color: var(--white-color); */
  border-radius: 40px;
}

nav .brand img {
  width: 50px;
}

nav .brand a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--black-color);
  text-decoration: none;
  font-size: 3vh;
  text-align: center;
}
nav ul {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  color: var(--white-color);
  transition: 0.5s ease;
  position: relative;
}

nav ul li a {
  color: #313131;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

nav ul li a:hover{
  color: #007430 !important;
  
}
nav ul li:hover{
  padding-block: 6px;
  border-block: 1px solid #007430;
  color: #007430 !important;
}

nav .fa {
  color: black;
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 722px) {
  nav .fa {
    display: block;
  }

  nav ul .fa {
    margin-bottom: 30px;
  }

  nav .brand img {
    height: 40px;
  }
  nav.brand a {
    font-size: 1.2rem;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    padding: 10px;
    height: 100vh;
    z-index: 99;
    transform: scaleX(0);
    transition: 0.1s ease-in;
    transform-origin: right;
  }

  nav ul.menu {
    transform: scaleX(1);
  }

  nav ul li {
    margin-top: 10px;
  }

  nav ul li a {
    font-size: 1rem;
    font-weight: bold;
  }
}
