@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 6px #6d6d6d;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.admin-box a.reserved {
  background-color: #01a144 !important;
  border-radius: 5px;
}

.manage-account-content {
  padding: 20px 40px;
  width: 100%;
  height: 100vh;
}

/* UPDATE */
.manage-account-content .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 15px;
  width: 100%;
  height: 100vh;
  border: 1px solid #c2c2c2;
  margin-bottom: 20px;
  background: #5e5d5d49;
}

.manage-account-content .modal form {
  display: none;
  color: var(--text-color);
  padding: 15px;
  border-radius: 5px;
  width: 25%;
  height: 530px;
  box-shadow: 0.3px 0.3px 4px #505050;
  margin-bottom: 20px;
  background: #f8f8f8;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

input[type="text"],
[type="number"],
[type="date"],
[type="password"] {
  color: var(--text-color);
  padding-left: 7px;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #313131;
}

.btn-success {
  margin-top: 10px;
  margin-left: 75px;
  border-radius: 5px;
}

.head-title {
  padding: 5px;

}

.payment-success {
  color: #00ad48;

}

.payment-failed {
  color: #b80000;

}

.payment-pending {
  color: #d1ce0a;

}

div.recieve {
  color: #f8f8f8;
  background-color: #00ad48;
  box-shadow: 1px 1px 4px #999999 !important;
  width: 60%;
  padding: 2px 7px;
  border-radius: 3px;
  text-align: center;
}

div.not-recieve {
  background-color: #860000;
  color: #f8f8f8;
  box-shadow: 1px 1px 4px #9b9b9b !important;
  width: 60%;
  padding: 2px 7px;
  border-radius: 3px;
  text-align: center;

}