@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --primary-color: #007430;
  --text-color: #313131;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: #8f8f8f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.user-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 10px;
}

.dashboard-content {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 2vh;
  color: #007430 !important;
}

.dashboard-content .total-medicine,
.total-product,
.total-expired,
.total-sales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 34%;
  height: 130px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #9b9b9b !important;
  color: #007430 !important;
  border-top: #007430 2px solid;
}

.total-user-graph {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total-user-graph .total-users,
.total-user-graph .user-gender {
  /* border: #007430 1px solid; */
  background-color: #f8f8f8 !important;
  border-top: #007430 2px solid;
  border-radius: 5px !important;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 4px #bebebe;

}

.admin-box .dashboard {
  background-color: #01a144;
  border-radius: 5px;
}

div.down-side {
  display: flex;
  width: 100%;
  gap: 15px;
}

div.new-stocklist {
  /* padding: 20px; */
  background-color: #f8f8f8;
  box-shadow: 1px 1px 4px #9b9b9b !important;
  width: 100%;
  height: 450px;
  border-radius: 5px;
  border-top: #007430 2px solid;
  font-size: 1.1vh !important
}

/* table td {
  border-bottom: 1px solid #c2c2c2 !important;
  padding: 7px;
  font-size: 1.7vh !important;

}

table th {
  font-size: 1.9vh !important;
} */

.new-item {
  color: #007430;
  background-color: #0074303d;
  padding: 3px;
  width: 120px;
}