@import url("./button.css");

:root {
  --primary-color: #007430;
  --text-color: #474747;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: 1px 1px 6px #6d6d6d;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.admin-box .sales {
  background-color: #01a144 !important;
  border-radius: 5px !important;
}

.manage-account-content2 {
  padding: 20px 40px;
  width: 100%;
  height: 100vh;
}

/* UPDATE */
.manage-account-content2 .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 15px;
  width: 100%;
  height: 100vh;
  border: 1px solid #c2c2c2;
  margin-bottom: 20px;
  background: #5e5d5d49;
}

.manage-account-content2 .modal form {
  display: none;
  color: var(--text-color);
  padding: 15px;
  border-radius: 5px;
  width: 25%;
  height: 530px;
  box-shadow: 0.3px 0.3px 4px #505050;
  margin-bottom: 20px;
  background: #f8f8f8;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

input[type="text"],
[type="number"],
[type="date"],
[type="password"] {
  color: var(--text-color);
  padding-left: 7px;
  width: 100%;
  height: 40px;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  background-color: #f0f0f0;
}

.btn-addsales {
  width: 100% !important;
  margin-top: 10px;
  border-radius: 3px;
  padding: 7px !important;
  height: 35px;
}

.btn-addsales-close {
  width: 100% !important;
  border-radius: 3px;
  padding: 0 !important;
  height: 35px;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #910000;
  text-align: right !important;
}


.head-title {
  padding: 5px;

}

div.btn-success.btn-addsales2  {
  width: 120px !important;
  margin-top: 10px;
  margin-left: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px !important;

}

div.btn-success.btn-selectSales  {
  width: 120px !important;
  margin-top: 10px;
  margin-left: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px !important;
  background-color: rgb(0, 160, 160) !important;
}

.btn-delete-sales {
  width: 120px !important;
  margin-top: 10px;
  margin-left: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px !important;
}

.manage-account-content2 .modal-addsales {
  border-top: #007430 2px solid;
  color: var(--text-color);
  width: 20%;
  height: 370px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px #c3c3c3, -1px -1px 4px #c3c3c3 !important;
  border-radius: 5px;
  padding: 20px;
  font-size: 1vw !important;
  background-color: #f8f8f8;
  position: absolute;
  transform: translate(120%, 10%);
  display: none;
}

.top-sales-link {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.saless {
  background-color: #f8f8f8;
  border-radius: 5px;
  border-top: #007430 2px solid;
  color: #007430;
  padding: 20px;
  text-align: center;
  width: 20%;
  box-shadow: 1px 1px 4px #c3c3c3, -1px -1px 4px #c3c3c3 !important;
}
.search-container {
  background-color: #f8f8f8;
  border-top: #007430 2px solid;
  position: absolute;
  top: 25%;
  left: 45%;
  box-shadow: 1px 1px 4px #c3c3c3, -1px -1px 4px #c3c3c3 !important;
  width: 25%;
  height: 400px;
  border-radius: 5px;
  display: none;
}
a.click-sales {
  width: 100%;
}
.btn-close-sales {
  background-color: transparent !important;
  text-align: right !important;
  box-shadow: none !important;
  color: #910000 !important;
  width: 100% !important;
  padding: 10px !important;
}