:root {
  --primary-color: #007430;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: #6d6d6d;
}

* {
  font-size: 1.8vh;
}

.content-container {
  width: 82%;
  height: 100vh;
}

body {
  background-color: #f0f0f0;
}

/* OVERIDE NAV */
nav {
  width: 100%;
  background-color: #f8f8f8 !important;
  align-items: center;
  justify-content: space-between !important;
  margin-inline: auto;
  padding-inline: 40px;
  color: #313131;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}

nav ul {
  height: 0;
  width: auto !important;
  align-items: center;
}

nav ul li a {
  color: #313131 !important;
}

.brand {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 60px;
  border-right: 1px solid #c3c3c3;
  background-color: #f8f8f8;
  padding-left: 10px !important;
}

.brand img {
  width: 60px;
}

.brand a {
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--black-color);
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.admin-box {
  position: relative;
  display: flex;
  /* padding-inline: 20px; */
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 100vh;
  color: #fff !important;
  background-color: #018136;
  font-size: 2vh;
  /* box-shadow: 1px 1px 4px #c3c3c3; */
  /* padding: 5px 15px; */
}

.profile-pic {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  font-size: 2vh !important;
  gap: 20px;
  margin-bottom: 5px;
  border-block: 1px solid #ccc;
  color: inherit;
  padding: 20px;
}

.profile-pic .user-image {
  width: 40px;
  border-radius: 50%;
  border: #313131 solid 1px;
  background-color: #fff;
}

.admin-box .box {
  display: flex;
  text-align: center;
  width: 90%;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  /* border-radius: 5px; */
  margin-top: 10px;
  /* border-bottom: #464646 solid 1px; */
  gap: 15px;
  transition: all 0.3s ease-out;
}

.admin-box .box:hover {
  /* transform: scale(1.1,1.1); */
  width: 95%;

}

.admin-box .box:last-child {
  position: absolute;
  bottom: 5px;

}

.admin-box .box:hover {
  background-color: #01a144;
  border-radius: 5px;
}

.user-profile {
  width: 20px;
  vertical-align: middle;
  border: 1px solid #303030;
  border-radius: 5px;
}

img {
  vertical-align: middle;
}

/* NOTIFICATION */
.notif {
  position: relative;
  cursor: pointer;
}

.notif>.notifCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 20px;
  top: -5px;
  right: -4px;
  background-color: #cc0101;
  border-radius: 20px;
  color: #fff;
  font-size: smaller !important;
}

.notif>.notifContent {
  position: absolute;
  z-index: 99;
  top: 20;
  right: 0;
  width: 420px;
  height: 500px;
  background-color: #f8f8f8;
  /* border: 1px solid #d4d4d4; */
  box-shadow: 1px 1px 4px #9b9b9b;
  border-radius: 5px;
  display: none;
  overflow-y: scroll;
  padding: 15px;
}

.notif>.notifContent::-webkit-scrollbar {
  width: 3px;
}

.notif>.notifContent::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.notif>.notifContent>.notifTittle {
  /* background-color: #00ad48; */
  border-bottom: var(--primary-color) 1px solid;
  text-align: left;
  padding: 3px;
  color: var(--primary-color);
}

.notif .notifContent .notif-inbox {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: #b9b9b9 1px solid;
  border-radius: 3px;
  margin-inline: auto;
}

.notif .notifContent .notif-inbox-nr {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #0074305f ;
  border-radius: 3px;
  margin-inline: auto;

}
.name-productpic{
  display: flex;
  gap: 20px;
}
.name-productpic .notif-productpic{
  width: 100px;
  height: 100px;
  border: 1px solid #9b9b9b;
}

.name-productpic .notif-message {
  text-align: left;
  position: relative;
  z-index: 9999;
  color: #313131 !important;
}

.notif-date {
  font-size: 0.8vw !important;
  text-align: left;
  position: relative;
  z-index: 9999;
  color: #313131;
}
/* ================================================= */

.head-title {
  color: #313131 !important;
}

.inventory-content {
  padding: 20px 40px;
  width: 100%;
  height: 100vh;
}

table {
  border-collapse: collapse;
  width: 95%;
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
  font-size: 2vh;
  margin-inline: auto;
}

table th {
  color: #1d1d1d;
}

table td,
table th {
  border: 1px solid #adadad;
  padding: 3px 8px !important;
  text-align: left !important;
  height: 30px !important;
}


table tr:nth-child(even) {
  background-color: #ebebeb;
}

table tr:hover {
  background-color: #ddd;
}

.stock-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3px;
  text-decoration: none;
  margin-top: 10px;
  color: #cfcfcf;
  gap: 10px;
}

.stock-links>a {
  color: #313131;
}


div.table-container {
  background-color: #f8f8f8;
  border-top: #007430 2px solid;
  box-shadow: 1px 1px 4px #9b9b9b !important;
  border-radius: 5px;
  /* padding: 20px 0px; */
  height: 500px;
}

section.payment-details-head {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  margin-inline: auto;
  text-align: center;
  /* border-bottom: 1px solid #c0c0c0; */

}

section.payment-details-head .submit {
  padding: 5px;
  background-color: #007430;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 4px #9b9b9b !important;

}

section.payment-details-head .search-container #search-payment {
  background-color: #e2e2e2;
  width: 94%;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  border: 1px solid #c0c0c0;

}

/* PAGINATION */

section .pagination {
  margin-top: 20px;
}

section .pagination a.next-prev,
a.total-page {
  padding: 5px 15px;
  background-color: #007430;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #9b9b9b !important;
  margin-right: 5px;

}

section .pagination a.total-page {
  padding: 5px 15px;
  background-color: #f8f8f8;
  color: #007430;
}