:root {
  --primary-color: #007430;
  --black-color: #000;
  --white-color: #fff;
  --bg-shadow: #6d6d6d;
}
* {
  font-size: 1.8vh;
}
.content-container {
  width: 82%;
  height: 100vh;
}

body {
  background-color: #f0f0f0;
}
  /* OVERIDE NAV */
nav {
  width: 100%;
  background-color: #f8f8f8 !important;
  align-items: center;
  justify-content: space-between !important;
  margin-inline: auto;
  padding-inline: 40px;
  color: #313131;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
}
nav ul {
  height: 0;
  width: auto !important;
  align-items: center;
}
nav ul li a {
  color: #313131 !important;
}

.brand {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 60px;
  border-right: 1px solid #c3c3c3;
  background-color: #f8f8f8;
}
.brand img {
  width: 50px;
}

.brand a {
  color: var(--primary-color);
  text-shadow: 1px 1px 2px var(--black-color);
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.admin-box {
  position: relative;
  display: flex;
  /* padding-inline: 20px; */
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 100vh;
  color: #fff !important;
  background-color: #018136;
  font-size: 2vh;
  /* box-shadow: 1px 1px 4px #c3c3c3; */
  /* padding: 5px 15px; */
}

.profile-pic {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  font-size: 2vh !important;
  gap: 20px;
  margin-bottom: 5px;
  border-block: 1px solid #ccc;
  color: inherit;
  padding: 20px;
}

.profile-pic .user-image {
  width: 40px;
  border-radius: 50%;
  border: #313131 solid 1px;
  background-color: #fff;
}
.admin-box .box {
  display: flex;
  text-align: center;
  width: 90%;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  /* border-radius: 5px; */
  margin-top: 10px;
  /* border-bottom: #464646 solid 1px; */
  gap: 15px;
  transition: all 0.3s ease-out;
}
.admin-box .box:hover{
  /* transform: scale(1.1,1.1); */
  width: 95%;

}

.admin-box .box:last-child {
  position: absolute;
  bottom: 5px;
  
}

.admin-box .box:hover {
  background-color: #01a144;
  border-radius: 5px;
}
.user-profile {
  width: 20px;
  vertical-align: middle;
  border: 1px solid #303030;
  border-radius: 5px;
}

img {
  vertical-align: middle;
}
.notif {
  position: relative;
  cursor: pointer;
}
.notif > .notifCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  top: -5px;
  right: -4px;
  background-color: #cc0101;
  border-radius: 50px;
  color: #fff;
  font-size: smaller !important;
}
.notif > .notifContent {
  position: absolute;
  z-index: 99;
  top: 20;
  right: 0;
  width: 300px;
  height: 350px;
  background-color: #f8f8f8;
  /* border: 1px solid #d4d4d4; */
  box-shadow: 1px 1px 4px #c3c3c3;
  border-radius: 5px;
  display: none;
  overflow-y: scroll;
  padding: 2px 15px;
}
.notif > .notifContent::-webkit-scrollbar {
  width: 7px;
}
.notif > .notifContent::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
.notif > .notifContent > .notifTittle {
  /* background-color: #00ad48; */
  border-bottom: var(--primary-color) 1px solid;
  text-align: left;
  padding: 3px;
  color: var(--primary-color);
}

.notif .notifContent .notif-inbox {
  margin-top: 10px;

  width: 100%;
  padding: 5px;
  /* border: #00ad48 1px solid; */
  background-color: #d9ece0;
  border-radius: 3px;
  margin-inline: auto;
}
.notif .notifContent .notif-inbox-nr {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  /* border: #00ad48 1px solid; */
  background-color: #ee4646;
  border-radius: 3px;
  margin-inline: auto;
}
.notif-message {
  text-align: left;
  position: relative;
  z-index: 9999;
  color: #f8f8f8 !important;
}
.notif-date {
  font-size: x-small !important;
  text-align: left;
  position: relative;
  z-index: 9999;
  color: #f8f8f8;
}

.head-title {
  color: #313131 !important;
}
.inventory-content {
  padding: 20px 30px;
  width: 100%;
  height: 100vh;
}

table {
  border-collapse: collapse;
  width: 90%;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 5px;
  /* background-color: #f0f0f0; */
  overflow: hidden;
  font-size: 2vh;
  margin-inline: auto;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #333;
  
}
table td,
table th {
  border-bottom: 1px solid #9c9c9c;
  padding: 4px;
  margin-inline:auto;
  width: 15%;
}

/* table tr:nth-child(even) {
  background-color: #f0f0f0;
} */

table tr:hover {
  background-color: #ddd;
}
.stock-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3px;
  text-decoration: none;
  margin-bottom: 15px;
  color: #cfcfcf;
  gap: 10px;
}

.stock-links > a {
  color: #fff;
}
.stock-links > a:nth-child(1) {
  background-color: #389900;
  /* border: 1px solid #389900; */
  color: #fff !important;
  text-align: center;
  width: 300px;
  padding: 7px;
  border-radius: 3px;
}
.stock-links > a:nth-child(2) {
  background-color: #b16400;
  /* border: 1px solid #a52a2a; */
  color: #fff !important;
  text-align: center;
  width: 300px;
  padding: 7px;
  border-radius: 3px;

}
.stock-links > a:nth-child(3) {
  background-color: #cecb16;
  /* border: 1px solid #c4b700; */
  color: #fff !important;
  width: 300px;
  text-align: center;
  padding: 7px;
  border-radius: 3px;

}
.stock-links > a:nth-child(4) {
  background-color: #a00000;
  /* border: 1px solid #960000; */
  color: #fff !important;
  width: 300px;
  text-align: center;
  padding: 7px;
  border-radius: 3px;
}

div.table-container {
  background-color: #f8f8f8;
  border-top: #007430 2px solid;
  box-shadow: 1px 1px 4px #c3c3c3 !important;
  border-radius: 5px;
  padding: 20px 0px;
  height: 500px;
  overflow-y: scroll;
}
div.table-container::-webkit-scrollbar {
  width: 1px;
}

div.table-container::-webkit-scrollbar-thumb {
  background-color: #313131;
}

