:root {
  --primary-color: #018136;
  --bg-shadow: #a8a8a850;
  --white-color: #fff;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 90% !important;
}

.brand img {
  width: 80px;
}

.brand a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
  font-size: 4vh;
  text-align: center;
}

.container {
  font-size: 2vh;
  border-radius: 10px;
  width: min(90%, 500px);
  background-color: #f8f8f8;
  box-shadow: 1px 1px 4px #9b9b9b;
  border-top: #007430 3px solid;
}
.container form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.container .titleHead {
  color: var(--primary-color);
  border-bottom: var(--primary-color) 2px solid;
  width: 100%;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
}

.form-control {
  width: 100%;
  background-color: #f0f0f0;
}

.container .submit {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-inline: auto;

}
.container .head-links {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.container .btn-signup {
  color: var(--primary-color);
  border-radius: 5px;
  padding: 4px;
  width: 120px;
  background: #f0f0f0;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #ffffff;
  text-decoration: none;
  text-align: center;
}

.container .btn-signin {
  color: var(--white-color);
  padding: 4px;
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 120px;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #ffffff;
  text-decoration: none;
  text-align: center;
}
.links{
  text-align: center;
}
.links a {
  color: var(--primary-color);
  font-size: 1.8vh !important;
  margin-left: 6px;
}
